[submodule "theme"]
	path = theme
	url = git@github.com:fundor333/f333_pelican.git
[submodule "pelican-plugins.git"]
	path = pelican-plugins.git
    url = https://github.com/getpelican/pelican-plugins.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
