[submodule "theme"]
	path = theme
	url = git@github.com:fundor333/f333_pelican.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git

[submodule "plugins/embed-tweet"]
	path = plugins/embed-tweet
	url = git@github.com:fundor333/pelican-embed-tweet.git
