[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
pelican = "*"
Markdown = "*"
pygments ="*"
jupyter = "*"
ipython = "*"
nbconvert = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.6.3"

[dev-packages]
