[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

pelican = "*"
markdown = "*"
pygments = "*"
jupyter = "*"
ipython = "*"
nbconvert = "*"
"beautifulsoup4" = "*"
pelican_advance_embed_tweet = "*"


[requires]

python_version = "3.6"


[dev-packages]

