<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en " }}">

{{ partial "head.html" . }}

<body>
  {{ block "mainbody" . }}
  <div class="col container">
    <div class="col offset-m1 s12">
      {{ partial "top_head.html" . }}
      <div class="row">
        {{ partial "navbar.html" . }}
      </div>

      <div class="row">
        <div class="col s10 offset-s1">
          {{ block "body" . }} {{ end }}
        </div>
      </div>
      <br> {{ partial "footer.html" . }}
    </div>

  </div>
  {{ end }} {{ partial "script.html" . }}
</body>

</html>
