{{ define "body" }}
<div class="row">
  <div class="col-8">
    <h2>{{.Title}}</h2>
  </div>
  <div class="col-4 float-right">
    <a href="{{ .Site.BaseURL }}" class="bricciole">home</a>
    <a>~</a>
    <a href='{{ .Permalink }}' class="bricciole">{{ .Title }}</a>
  </div>
</div>
<div>
  <div class="card-columns">
    {{ range .Data.Pages }}
    <div class="card">
      {{with .Params.feature_image}}

      <img class="card-img-top" src="{{ . }}" alt="Card image cap">
      {{end}}

      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <p class="card-text">{{ dateFormat "2006 Jan 2" .Date }}</p>
        <p class="card-text">{{ .Description }}</p>
        <a href="{{ .Permalink }}" class="btn">More</a>
      </div>
    </div>
    {{ end }}
  </div>
  {{ partial "paginator.html" . }}
</div>
</div>
</div>
</div>
{{ end }}
