<aside class="col-sm-3 hidden-xs asider page_box">
    <hr>
    <div class="row">
      {{ range .Site.Params.main -}}
      <h4>
        <a href="{{ .url | absLangURL }}" class="col-sm-6 hidden-xs btn btn_f333">{{ .name }}</a>
      </h4>
	{{end}}
    </div>

    <hr>
    <div class="row">

      {{ partial "social.html" . }}
      
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 hidden-xs">
	<h4>
	{{ range .Params.tags }}
	<a class="social-link" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
            <span class="fa fa-tags" aria-hidden="true">{{.}} </span>
	</a>
	{{ end }}
	</h4>
        </div>
    </div>
    <br>
</aside>
