<nav class="blue-grey lighten-4">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li><a class="dropdown-button" href="#!" data-activates="dropdown{{ .Name }}">{{ .Name }}<i class="material-icons right">arrow_drop_down</i></a></li>

            <ul id="dropdown{{ .Name }}" class="dropdown-content">
                {{ range .Children }}
                <li><a href="{{.URL}}" class="menu_link"> {{ .Name }} </a></li>
                {{end}}
            </ul>
            {{else}}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{end}}
            {{end}}
        </ul>
    </div>
</nav>