<nav class="amber lighten-5">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li>
                <a class="dropdown-button gray-action" href="#!" data-activates="dropdown{{ .Name }}">
                    {{ .Name }}
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>

            <ul id="dropdown{{ .Name }}" class="dropdown-content">
                {{ range .Children }}
                <li><a href="{{.URL}}" class="menu_link gray-action"> {{ .Name }} </a></li>
                {{end}}
            </ul>
            {{else}}
            <li><a href="{{ .URL }}" class="gray-action">{{ .Name }}</a></li>
            {{end}}
            {{end}}
        </ul>
    </div>
</nav>
