<div class="blue-grey lighten-4 col m9 s12 f333">
        <div class="container">
            <div class="row">
                <br>
                    <article>
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">{{.Title}}</span>

                                <nav class="blue-grey lighten-4">
                                    <div class="nav-wrapper ">
                                        <div class="col s12 breadcrumb">
                                            {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
                                            {{ $.Scratch.Add "path" .Site.BaseURL }}

                                                <a href="/" class="breadcrumb">home</a>
                                                {{ range $index, $element := split $url "/" }}
                                                {{ $.Scratch.Add "path" $element }}
                                                {{ if ne $element "" }}
                                                <a href='{{ $.Scratch.Get "path" }}' class="breadcrumb">{{ . }}</a>
                                                {{ $.Scratch.Add "path" "/" }}
                                                {{ end }}
                                                {{ end }}
                                        </div>
                                    </div>
                                </nav>


                            <br>
                            <div class="entry-content">
                                {{.Content}}
                            </div>
                            <div>
                                <hr>
                                <div class="pure-g post-footer">
                                    <p>
                                        Postato da {{.Site.Params.Author}}
                                    </p>
                                </div>

                                <div class="card-action">
                                    {{ range .Params.tags }}
                                    <a class="gray-action" href="{{ " tags/" | relLangURL }}{{ . | urlize }}">
                                    <i class="material-icons">label</i> {{ . }}
                                    </a>
                                    {{ end }}
                                </div>
                            </div>
                            </div>
                        </div>
                    </article>
            </div>
        </div>
</div>
