<div class="blue-grey lighten-4 col m9 s12">
        <div class="container">
            <div class="row">
                <br>
                    <article>
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">{{.Title}}</span>

                                <nav class="blue-grey lighten-4">
                                    <div class="nav-wrapper ">
                                        <div class="col s12 breadcrumb">
                                            <a href="{{ .Site.BaseURL }}" class="breadcrumb">Home</a>
                                            <a href="{{ .Site.BaseURL }}post/" class="breadcrumb">post</a>
                                            <a href="#!" class="breadcrumb">{{ .Title }}</a>
                                        </div>
                                    </div>
                                </nav>


                            <br>
                            <div class="entry-content">
                                {{.Content}}
                            </div>
                            <div>
                                <hr>
                                <div class="pure-g post-footer">
                                    <p>
                                        Postato da {{.Site.Params.Author}} il {{ .Date.Format "02-01-2006" }}
                                    </p>
                                </div>

                                <div class="card-action">
                                    {{ range .Params.tags }}
                                    <a class="gray-action" href="{{ " tags/" | relLangURL }}{{ . | urlize }}">
                                    <i class="material-icons">label</i> {{ . }}
                                    </a>
                                    {{ end }}
                                </div>
                            </div>
                            </div>
                        </div>
                    </article>
                    <div class="entry-content">
                        {{partial "comments.html" .}}
                    </div>
                    <br>

            </div>
        </div>
</div>
