<div class="grey lighten-5 col m9 s12">
    <section>
        <div class="col s12">
            <div class="page-container">
                <article>
                    <div class="article-header-container ">
                        <div class="background-image-container ">
                            <div class="background-image-small">
                                <div class="title-container text-center">
                                    <h1>{{.Title}}</h1>
                                </div>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="entry-content">
                        {{.Content}}
                    </div>
                    <div>
                        <hr>
                        <div class="pure-g post-footer">
                            <p>
                                {{.Site.Params.Author}}
                            </p>
                        </div>
                      </div>
                </article>
            </div>

        </div>
        <br>
    </section>
</div>
