<div class="col-xs-12 no_padding">
    <section>
        <div class="col-xs-12 page_box">
            <div class="page-container">
                <article>
                    <div class="article-header-container ">
                        <div class="background-image-container ">
                            <div class="background-image-small">
                                <div class="title-container text-center">
                                    <h1>{{.Title}}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="metadata">
                            <ol class="breadcrumb center-block text-center">
                                <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                                <li><a href="{{ .Site.BaseURL }}/post/">post</a></li>
                                <li class="active">{{.Title}}</li>
                            </ol>
                            <hr>
                            <div class="date_article text-center">
                                {{ .Date.Format "02-01-2006" }}
                            </div>
                          </div>
                    </div>
                    <br>
                    <div class="entry-content">
                        {{.Content}}
                    </div>
                    <div>
                        <hr>
                        <div class="pure-g post-footer">
                            <p>
                                Postato da {{.Site.Params.Author}} il {{ .Date.Format "02-01-2006" }}
                            </p>
                        </div>

                        <div class="tags">
                            {{ range .Params.tags }}
                            <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}">#{{ . }} </a> 
                            {{ end }}
                        </div>
                    </div>
                </article>
                <hr>
                <div class="entry-content">
                    {{partial "comments.html" .}}
                </div>
                <br>
            </div>

        </div>
        <br>
    </section>
</div>
