<header class="topbody page_box">
    <a href="{{ .Site.BaseURL }}/">
        <div class="col-sm-3 no_padding">
            <img class="img-responsive center-block " id="header_logo" src="{{ .Site.BaseURL }}/img/logo.png">
        </div>
        <div class="col-sm-8 col-offset-sm-1 col-xs-12">
            <br>
            <div id="title">
                <h1 class="maintitle">{{ .Site.Title }}</h1>
                <h4 class="maintitle">{{ .Site.Params.Subtitle }}</h4>
            </div>
        </div>
    </a>
</header>
