<br>
<header class="blue-grey lighten-4">
    <div class="row">
    <a href="{{ .Site.BaseURL }}/">
        <div class="col m3 s12">
            <img class="img-responsive center-block " id="header_logo" src="{{ .Site.BaseURL }}/img/logo.png">
        </div>
        <div class="col m8 offset-m1 s12">
            <div id="title">
                <h1 class="maintitle black-action">{{ .Site.Title }}</h1>
                <h4 class="maintitle black-action">{{ .Site.Params.Subtitle }}</h4>
            </div>
        </div>
    </a>
    </div>
</header>

<br>

<div class="row">
        {{ partial "menu.html" . }}
</div>

