{{ define "body"}}

<div class="row">
  <h2 class="text-center">{{ .Title }}</h2>
</div>
<hr>
{{ .Content }}
<hr>
<p>{{ .Title }} - {{ .Params.convention.event }}</p>
<p>{{ .Params.convention.date }}</p>
{{ if not (eq .Params.convention.source "") }}
<a href="{{ .Params.convention.source }}">Link to sorce</a>
{{ end }}
<hr>
<script async class="speakerdeck-embed" data-id="{{ .Params.convention.speakerdeck_code }}" data-ratio="1.33333333333333"
  src="//speakerdeck.com/assets/embed.js"></script>
<hr>
{{ template "_internal/disqus.html" . }}
{{ end }}
