{{ define "body"}}

<article class="ph3 ph3-m ph6-l">
  <h1 class="f3 f1-m f-headline-l">{{ .Title }}</h1>

  <hr>
  {{ .Content | replaceRE "<p>" "<p class=\"f4 mb4 center measure\">" | safeHTML }}

  <hr>
  <p class="f4 mb4 center measure">{{ .Title }} - {{ .Params.convention.event }}</p>
  <p class="f4 mb4 center measure">{{ .Params.convention.date }}</p>
  {{ if not (eq .Params.convention.source "") }}
  <a class="link dim black" href="{{ .Params.convention.source }}">Link to sorce</a>
  {{ end }}
  <hr>
  <script async class="speakerdeck-embed" data-id="{{ .Params.convention.speakerdeck_code }}"
    data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
  <hr>
  {{ template "_internal/disqus.html" . }}
</article>
{{ end }}
