<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
<div class="container">
    <div class="col s12">
        <div class="col s12">

            {{ partial "topbox.html" .}}

            <br>
            <div class="row">
                <div class="grey lighten-5 col s12">
                    <section>
                        <div class="col s12 card transparent">
                            <div class="card-content">
                                <article>
                                    <div class="article-header-container ">
                                        <span class="card-title center">
                                            404 La pagina cercata non esiste
                                        </span>
                                    </div>
                                    <br>
                                    <div class="entry-content">
                                        <a href="{{ .Site.BaseURL }}">
                                            <div class="row">
                                                <div class="col s12 center">
                                                    <img src="{{ .Site.BaseURL }}/img/logo.png">
                                                </div>
                                                <div class="col s6 offset-s3 center black-text">
                                                    <p>Non e' stata trovata la pagina che stavi cercando.<br>
                                                        Sorry...
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>
                            </div>

                        </div>
                    </section>
                </div>

            </div>
            <br>
            {{ partial "footer.html" .}}

        </div>

    </div>
</div>
{{ partial "script.html" .}}
</body>
</html>
