@import "../sass/materialize";
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

$font_titles: 'Special Elite';
$font_text: 'Special Elite';

body{
  @extend .blue-grey, .darken-2}

.gray-action{
    color: gray !important;
}

.black-action{
  color: black !important;
}