@import "../sass/materialize";
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

$font_titles: 'Special Elite';
$font_text: 'Special Elite';

body{
  @extend .blue-grey, .darken-2;
  font-family: $font_titles;
}

.gray-action{
    color: gray !important;
}

.black-action{
  color: black !important;
}

.title-action{
  color: black !important;
}

.breadcrumb{
  color: white !important;
}

article{
  a{
    color: blue !important;
  };
}

.same_height{
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
  .f333{
    display: table-cell; /* Make elements inside the container behave like table cells */
  }
}