{{ define "body" }}
<hr class="ph3 ph3-m ph6-l">
<section class="ph3 ph3-m ph6-l flex flex-wrap">
  {{ $paginator := .Paginate (where .Data.Pages "Section" .Section) }}

  {{ range $paginator.Pages }}

  <article class="row">
    <div class="row">
      <h1 class="f6 ttu tracked">{{ .Title }}</h1>
    </div>

    <div class="row">
      <p>
        <a href="{{ .Permalink }}">{{ .Description }}</a>

        <small
          class="gray db pv2">🍵{{ if gt .ReadingTime 4 }}🍵{{ if gt .ReadingTime 7 }}🍵{{ if gt .ReadingTime 10 }}🍵{{ end }}{{ end }}{{ end }}
          Reading time {{.ReadingTime}} minutes
          {{ with index (.Params.tags) 0 }}
          <a class="tag" href='{{ "tags" | absURL }}/{{ . | urlize }}'>{{ . }}</a>
          {{ end }}</small></p>
    </div>
  </article>


  {{ end }}
</section>
<hr class="ph3 ph3-m ph6-l">


{{ partial "paginator.html" . }}

{{ end }}
