{{ define "body"}}

<div class="row mx-auto d-block">
  <h2 class="text-center">{{ .Title }}</h2>
</div>
<div class="row mx-auto d-block">
  <div class="d-flex justify-content-center">
    <a href="{{ .Site.BaseURL }}" class="bricciole">home</a>
    <a>~</a>
    <a href='{{ .Permalink }}' class="bricciole">{{ .Title }}</a>
  </div>
</div>
<br>

<div class="card">
  <img class="rounded mx-auto d-block card-img-top-post" src="{{ .Params.feature_image }}" alt="Card image cap">
  <br>
  <a class="d-flex justify-content-center card-link" href="{{ .Params.feature_link}}">{{.Params.feature_text}}</a>
  <br>
</div>
<br>

<br>
<article>
      {{ .Content }}
      <p>by {{ .Site.Author.name }}</p>
</article>

<hr>
<div class="mx-auto d-block">
  {{ with .Params.tags }} {{ range . }}
  <a class="tag col-4" href='{{ "tags" | absURL }}/{{ . | urlize }}'>{{ . }}</a>
  {{ end }} {{ end }}
</div>
<hr>

{{ template "_internal/disqus.html" . }}
<hr>

{{ end }}
