{{ define "body"}}

<div class="row">
  <h2 class="text-center">{{ .Title }}</h2>
</div>
<div class="row mx-auto">
  <a href="{{ .Site.BaseURL }}" class="bricciole">home</a>
  <a>~</a>
  <a href='{{ .Site.BaseURL }}/{{ .URL }}' class="bricciole">{{ .Title }}</a>
</div>
<hr>

<div class="text-center">
{{ .Content }}
<p>by {{ .Site.Author.name }}</p>
</div>

<hr>

{{ with .Params.tags }} {{ range . }}
<a class="tag col-4" href='{{ "tags" | absURL }}/{{ . | urlize }}'>{{ . }}</a>
{{ end }} {{ end }}
<hr>

{{ template "_internal/disqus.html" . }}
<hr>

{{ end }}
