{{ define "body" }}

<div class="page-body col s12 f333">
  <article>
    <div>
      <h1 class="page-title">404 Not found</h1>

      <div class="page-article">

        <p>La risorsa cercata non è disponibile. In cambio hai trovato uno Switch</p>

        <div class="switch-box">
          <div class="screen-outer">
            <div class="screen-inner">
              <div class="switch-left">
                <div class="switch-circle-left"></div>
              </div>
              <div class="switch-right">
                <div class="switch-circle-right"></div>
              </div>
            </div>
            <div class="controller-left">
              <div class="square-bottom"></div>
              <div class="top-button"></div>
              <div class="dpad-left">
                <div class="switch-controller-up"></div>
                <div class="switch-controller-down"></div>
                <div class="switch-controller-left"></div>
                <div class="switch-controller-right"></div>
              </div>
              <div class="joystick-left">
                <div class="joystick-inner"></div>
              </div>
            </div>
            <div class="controller-right">
              <div class="circle-bottom">
                <div class="circle-inner"></div>
              </div>
              <div class="top-dpad">
                <div class="square-top-left"></div>
                <div class="square-top-right"></div>
                <div class="square-bottom-left"></div>
                <div class="square-bottom-right"></div>
              </div>
              <div class="dpad-right">
                <div class="switch-controller-up"></div>
                <div class="switch-controller-down"></div>
                <div class="switch-controller-left"></div>
                <div class="switch-controller-right"></div>
              </div>
              <div class="joystick-right">
                <div class="joystick-inner"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div>
        <hr>
      </div>
    </div>
  </article>

</div>
{{ end }}
