{{ define "body" }}

<div class="container">
  <h1>{{.Site.Title}}</h1>

  <h2>{{ .Site.Params.subtitle }}</h2>
</div>
<br>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-10 offset-1">
      <div id="gr_quote_body" class="text-center"></div>
      <script src="https://www.goodreads.com/quotes/widget/5312887-matteo?v=2" type="text/javascript"></script>
    </div>
  </div>

  <hr>

  <article class="row">
    <p>
      I am a Backend Developer 💻, a Pythonista 🐍, a Docker user 🐋 and a Open Source maniac.

      <p>
        In my past I have done some work as PFY and some traveling planning.
      </p>
      <p>
        This is my blog/diary/personal space for my project, ideas and rants...
      </p>
      <p>
        This is a site of a not so adult developer.
      </p>
      <p>
        Fundor333
      </p>
  </article>
</div>
{{ end }}
