{{ define "body"}}
<article>
  <h1>hoarding</h1>
  <hr>
  <div class="row">
    <div class="col-sm">
      <a rel="nofollow" href="https://www.goodreads.com/review/list/5312887-matteo?shelf=developer&utm_medium=api&utm_source=grid_widget"><h2>F333' Devs' Books</h2></a>
    <div class="col-sm-10 offset-sm-1">

    <div id="gr_grid_widget_1619986623">


<div class="gr_grid_container">

</div>
</div>
<noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Matteo, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
</div>

    </div>
    <script src="https://www.goodreads.com/review/grid_widget/5312887.F333'%20Devs'%20Books?cover_size=medium&hide_link=true&hide_title=true&num_books=20&order=a&shelf=developer&sort=date_added&widget_id=1619986623" type="text/javascript" charset="utf-8"></script>

  </div>
</div>
<hr>

  {{ range $.Site.Data.hoarding }}

  {{ range .types }}
  <div class="row">
    <div class="col-sm-2">
      <h2>{{.type}}</h2>
    </div>
    <div class="col-sm-9 offset-sm-1">
      {{ range .elements }}
      <p>
        <a href="{{.url}}" class="offset-1">
          {{.name}}
        </a>
      </p>
      {{end}}
    </div>
  </div>
  <hr>
  {{end}}
  {{ end }}

</article>
{{ end }}
