{{ define "body"}}
<article class="ph3 ph3-m ph6-l">
  <h2 class="f3 f1-m f-headline-l">project</h2>

  <a href="{{ .Site.BaseURL }}">home</a>
  <a>~</a>
  <a href='{{ .Permalink }}'>project</a>
  <hr>

  {{ range $.Site.Data.project }}


  {{ range .types }}
  <h3 class="f3 b ph6">{{.type}}</h3>
  {{ range .elements }}
  <a href="{{.url}}" class="link dim black">
    <dd class="ph6">
      <p><b>{{.name}}</b>- {{.description}}</p>
    </dd>
  </a>
  {{end}}
  {{end}}
  {{ end }}
</article>
{{ end }}
