$f333_red: #8d0801;
$f333_dark: #557776;
$f333_light: #D6F4F4;

$f333_color_background_primary: $f333_dark;
$f333_color_background_secondary: $f333_light;
//
$f333_color_font_primary: $f333_color_background_secondary;
$f333_color_font_secondary: $f333_color_background_primary;
$f333_color_breadcrumb: $f333_red;
$f333_color_breadcrumb_secondary: $f333_red;
//
$shadow_color: rgba(0, 0, 0, 0.2);
$col_facebook: #3b5998;
$col_twitter: #1da1f2;
$col_linkedin: #0077b5;
$col_gplus: #dc4e41;
$col_mail: green;
