@import "_switch";
@import "colors";

@font-face {
	font-family: "Menlo Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Menlo Regular"),
		url("fonts/Menlo-Regular.woff") format("woff");
}


a {
	margin: auto;
	font-family: sans-serif;
	text-decoration: none;
	color: white;
	position: relative;
	transition: all .3s cubic-bezier(.2, 0, 0, 1);
	z-index: 1;



	&:hover {
		color: $f333_red;

		&:after {
			right: 0;
			left: 0;
			height: 100%;
		}
	}
}

article {
	img {
		margin-left: auto !important;
		margin-right: auto !important;
		display: block !important;
		max-width: 100%;
		height: auto;
	}
}

// Blockquote CSS

body {
	font-family: Menlo Regular, sans-serif;
	background-color: $f333_color_background_primary;
	color: $f333_color_font_primary;
}

hr {
	color: $f333_color_font_primary;
	border-color: $f333_color_font_primary;
}

.f333 {
	color: $f333_color_font_primary;
	background-color: $f333_color_background_primary;
}

.tag {
	margin: 10px 5px 0 0 !important;
	font-size: .9em !important;
	font-weight: 400 !important;
	letter-spacing: 0 !important;
	color: $f333_color_font_primary;
	text-shadow: none !important;
	box-shadow: 2px 3px 0 var(--black);
	border: 1px solid var(--black);
	margin: 3.5px 3px;
	padding: 0 .4em;
	border-radius: 8px;
	background: $f333_red;
	display: inline-block;

	&:hover {
		text-decoration: none;
		color: $f333_color_font_primary;
	}
}

#dot {
	a {
		color: $shadow_color;
	}
}
