@import "_switch";
@import "colors";

a {
	color: $f333_red;
	text-decoration: none;

	&:hover {
		color: $f333_color_background_secondary;
	}
}

article {
	img {
		margin-left: auto !important;
		margin-right: auto !important;
		display: block !important;
	}
}

body {
	font-family: baskerville, sans-serif;
	background-color: $f333_color_background_primary;
	color: $f333_color_font_primary;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

code,

.baskerville {
	font-family: baskerville,
		serif;
}

.code {
	font-family: Consolas,
		monaco,
		monospace;
}

.tag {
	&:before {
		content: "<";
	}

	&:after {
		content: ">" !important;
	}
}
