<footer class="fixed-bottom d-flex justify-content-center f333 navbar">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a href='https://webring.recurse.com' class="nav-item" target='_blank'><img src='https://webring.recurse.com/icon.png'  width="30" height="33"/></a>
      <a href='https://webring.xxiivv.com/#random' class="nav-item" target='_blank'>
        <img class="navbar-brand" width="30" height="33" src='https://webring.xxiivv.com/icon.white.svg' />
      </a>
    </li>
  </ul>
</footer>
<br>
