<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font/build/web/hack.css'>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="https://kit.fontawesome.com/2f3b6e2e4c.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <style>
    @import url('https://fonts.googleapis.com/css?family=Coda&display=swap');

  </style>

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>


  {{ $options := (dict "outputStyle" "compressed") }}
  {{ $style := resources.Get "css/style.scss" | resources.ToCSS $options }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <title>{{ .Title | default .Site.Title }}
    {{ if not .IsHome }} - {{ .Site.Title }}{{ end }}
  </title>
  <meta name="description" content="">
  <meta name="author" content="{{ with .Params.author.name }}{{ end }}">

  <meta name="description" content="{{ with .Description }}
  {{ . }}
  {{ else }}
  {{if .IsPage}}{{ .Summary }}
  {{ else }}{{ with .Site.Params.description }}
  {{ . }}
  {{ end }}{{ end }}{{ end }}">

  {{ if and (eq .Kind "taxonomy") (eq .Type "categories")}}
  <meta name="robots" content="noindex, follow" />
  {{ else }}
  <meta name="robots" content="index, follow" />
  {{ end }}

  {{ if or (eq .Kind "home") (eq .Kind "page")}}
  {{ if isset .Params "canonical" }}
  <link rel="canonical" href="{{ .Params.Canonical}}" />
  {{ else }}
  <link rel="canonical" href="{{ .Permalink}}" />
  {{ end }}
  {{ end }}

  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}


  <!-- layouts/partials/head.html -->
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/google_news.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ partial "seo/twitter.html" . }}
</head>
