<nav class="page-navbar">
  <div class="nav-wrapper">
    <ul class="hide-on-med-and-down">
      {{ $currentPage := . }} {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">
          <i class="fa fa-{{ .Identifier }}" aria-hidden="true"></i> {{ .Name }}</a>
      </li>
      {{ end }}
    </ul>

    <!-- Dropdown Trigger -->
    <a class='dropdown-trigger btn show-on-small' href='#' data-target='dropdown1'> <i class="material-icons">menu</i>
    </a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider" tabindex="-1"></li>
      <li><a href="#!">three</a></li>
      <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
      <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>

    <ul class="side-nav" id="mobile-demo">
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">
          <i class="fa fa-{{ .Identifier }}" aria-hidden="true"></i> {{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
