<div class="container">
  <nav class="nav mx-auto">
    {{ $currentPage := . }} {{ range .Site.Data.social }}
    <li class="nav-item mx-auto">
      <a class="nav-link" href="{{ .url }}">
        <i class="fab fa-{{ .identifier }}" aria-hidden="true"></i> &nbsp;&nbsp;</a>
    </li>
    {{ end }}
  </nav>
  <nav class="mx-auto">
    <ul class="nav mx-auto">
      {{ $currentPage := . }} {{ range .Site.Menus.main }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .URL }}">
          <i class="fa fa-{{ .Identifier }}" aria-hidden="true"></i> {{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</div>
