<header class="mt-5 mx-auto">
  <nav>
    <div class="container">
      <div class="row mx-auto">
        <div class="col mt-2">
          <a href="{{ .Site.BaseURL }}">
            <img id="header_logo" class="rounded-circle" style="width: 200px; height: 200px;" src='/img/pilogo.jpg'>
          </a>
        </div>
        <div class="col mt-5">
          <div class="row align-middle">
            <a href="{{ .Site.BaseURL }}">
              <div id="title">
                <h2>{{ .Site.Title }}</h2>
                <h3 id="subtitle">
                  {{ .Site.Params.subtitle }}
                </h3>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </nav>
</header>
